dify/twinx-prompt-optimization-b.yml
# Creator: Jason Gu
# Project: TwinX Prompt Optimization
# Workflow: B — Deduplicate and cluster suggestions for human review
# Created: 2026-06-18
app:
  description: 'Creator: Jason Gu | Project: TwinX Prompt Optimization | Created: 2026-06-18 | Workflow B: Dedup and cluster prompt gaps by root cause'
  icon: 🗂️
  icon_background: '#FEF3C7'
  mode: workflow
  name: twinx-prompt-optimization-b
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/vertex_ai:0.0.58@259b7320ab373c59b1fd03ace11fbfc11ce2121ab3dfa03ffe8ff6dcf33d554a
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 500
        batch_count_limit: 50
        file_size_limit: 50
        image_file_size_limit: 100
        video_file_size_limit: 100
        workflow_file_upload_limit: 200
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1781900000011-source-1781900000012-target
      source: '1781900000011'
      sourceHandle: source
      target: '1781900000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1781900000012-source-1781900000013-target
      source: '1781900000012'
      sourceHandle: source
      target: '1781900000013'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Input: all_suggestions (JSON array from all Workflow A batches)'
        selected: false
        title: Start
        type: start
        variables:
        - label: All Suggestions
          max_length: 200000
          options: []
          required: true
          type: paragraph
          variable: all_suggestions
      height: 88
      id: '1781900000011'
      position:
        x: 78
        y: 282
      positionAbsolute:
        x: 78
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Gemini 2.5 Flash — dedup by root cause, rank by impact, cap 4/category'
        model:
          completion_params:
            temperature: 0.3
            thinking_budget: 0
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/vertex_ai/vertex_ai
        prompt_template:
        - id: b2c3d4e5-0002-0002-0002-000000000001
          role: system
          text: |
            You are a ruthless editorial director with the judgment of a senior sales executive. You receive a JSON array of TwinX voice bot prompt improvement suggestions — already filtered by Workflow A to remove human execution errors and low-confidence ASR noise. Each suggestion has a change_type of "add", "replace", or "remove". Your job is to collapse them into the shortest possible list of truly distinct, high-value prompt changes with zero redundancy.

            PRE-FILTER — DNC must never be bot-initiated: Before merging, check every incoming suggestion's recommendation field. If it has the bot asking, suggesting, or offering removal from the call list / DNC / opt-out as part of a pivot script or objection response — including as one of multiple options in a single question — strip that clause from the recommendation before merging, or discard the suggestion entirely if removing the clause leaves nothing useful. DNC handling may only appear in a recommendation when the existing_text or evidence field shows the PROSPECT raised it first, unprompted. Never let a merged recommendation combine a legitimate pivot with a bot-initiated DNC offer.

            Confidence: when merging items of mixed confidence, use the HIGHEST confidence level among the merged items as the cluster's confidence. No numeric scoring.

            HARD LIMIT: output a MAXIMUM of 4 suggestions per category, regardless of how many distinct root causes exist. If more than 4 genuine root causes remain after the three-pass merge, rank all candidates by overall impact and keep only the top 4. Impact ranking considers all of the following together, not as a strict priority order:
            - Frequency: how many transcripts/batches independently surfaced this same root cause (a pattern appearing across many calls is more impactful than a one-off, even if the one-off is high confidence)
            - Outcome severity: does this issue directly cause a lost transfer, a lost prospect, or a compliance risk — versus a minor tone or phrasing issue that doesn't change the call outcome
            - Confidence: high confidence items are generally more trustworthy than medium, but a frequent medium-confidence pattern can outrank a rare high-confidence one if the medium-confidence pattern is clearly recurring and outcome-affecting
            Weigh these together to judge true impact — do not mechanically sort by confidence alone. The goal is the 4 changes that would most improve real call outcomes if implemented.

            Your standard for "same root cause":
            - Two suggestions share a root cause if implementing one prompt change would fix both. Wording differences are irrelevant. Category label differences are irrelevant.
            - If two suggestions cite the same transcript evidence, they are the same issue — merge immediately.
            - If one suggestion is a specific case of another more general suggestion, absorb the specific one into the general one and increase the frequency count.
            - When merging suggestions with different change_types, use the change_type of the most specific / actionable item in the cluster.

            Three-pass merging process:
            PASS 1 — Group by root cause across all categories. Ignore category labels during this pass — look only at what prompt change is required.
            PASS 2 — For each group, write one authoritative consolidated entry covering all variants. Use the clearest, most actionable wording. Assign it to the most relevant category.
            PASS 3 — Scan the consolidated list one final time. Ask: "If I implemented this change, would any other item on the list become redundant?" If yes, merge again.

            After all three passes, every remaining item must represent a unique, non-overlapping prompt change. A frequency-1 item that is clearly a subset of a frequency-5 item must be absorbed, not listed separately.

            Critical for the Recommendation field:
            The recommendation must be written as complete, ready-to-use prompt language — not a description of what to change. It should include the actual instructions TwinX will follow AND, wherever the guidance involves speaking to a prospect, example script lines showing exactly how TwinX would say it in a real call. A human reviewer must be able to read the recommendation and immediately understand both what TwinX will do and how it will sound on a call.

            Output ONLY the formatted review document — no preamble, no explanation.

        - id: b2c3d4e5-0002-0002-0002-000000000002
          role: user
          text: |
            Here are all the prompt improvement suggestions collected across all transcript batches:

            <all_suggestions>
            {{#1781900000011.all_suggestions#}}
            </all_suggestions>

            Apply the three-pass merging process:

            PASS 1 — Group every suggestion by root cause (same required prompt fix = same group), ignoring category labels and wording. Flag any that cite the same evidence as instant merges.

            PASS 2 — Write one consolidated entry per group. Record the highest confidence level in the group.

            PASS 3 — Final redundancy scan. Absorb any remaining subsets into their parent cluster. Then, if any category still has more than 4 items, rank all remaining candidates by overall impact — weighing frequency across transcripts, severity of the outcome it affects (lost transfer, lost prospect, compliance risk vs. minor tone), and confidence together — and keep only the top 4 highest-impact items. Discard the rest. Do not simply sort by confidence level.

            Output the final deduplicated list using this exact format for each suggestion block:

            ───────────────────────────────────────
            [confidence: high/medium | change: add/replace/remove]
            Category: <objection_handling / asr_correction / compliance / qualifying_questions / tone / other>
            Issue: <one blunt sentence — what is missing, weak, or wrong in the current prompt>
            Prompt Section: <section name to modify, or NEW SECTION>
            Existing Text: <for replace/remove only — the exact current prompt text being changed. Leave blank for add.>
            Recommendation:
            <The full, ready-to-use prompt language. Write the actual instruction TwinX will follow. Where the guidance involves speaking to a prospect, include example script lines showing word-for-word how TwinX should handle it on a real call. Do not summarize — write the complete language the human reviewer can approve as-is.>
            Evidence: <most representative and readable transcript excerpt>
            ───────────────────────────────────────

            Group suggestion blocks under category headers:

            ═══════════════════════════════════════
            OBJECTION HANDLING
            ═══════════════════════════════════════

            (repeat header + blocks for each category that has suggestions: objection_handling, asr_correction, compliance, qualifying_questions, tone, other)

            Skip categories with zero suggestions.
            Order clusters within each category by confidence (high first, then medium).
            The human reviewer will DELETE entire blocks they reject — make each block fully self-contained.
            Do NOT truncate or shorten the Recommendation field — full language is required for Workflow C to apply the change correctly.

        selected: false
        title: Dedup and Cluster
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1781900000012'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Output: clustered_suggestions (formatted text for human review)'
        outputs:
        - value_selector:
          - '1781900000012'
          - text
          variable: clustered_suggestions
        selected: false
        title: End
        type: end
      height: 54
      id: '1781900000013'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 38
      y: 54
      zoom: 1
