dify/twinx-prompt-optimization-a.yml
# Creator: Jason Gu
# Project: TwinX Prompt Optimization
# Workflow: A — Extract prompt improvements from human call experience
# Created: 2026-06-18
app:
  description: 'Creator: Jason Gu | Project: TwinX Prompt Optimization | Created: 2026-06-18 | Workflow A: Learn from human call experience to extract prompt improvements'
  icon: 🔍
  icon_background: '#E0F2FE'
  mode: workflow
  name: twinx-prompt-optimization-a
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/vertex_ai:0.0.58@259b7320ab373c59b1fd03ace11fbfc11ce2121ab3dfa03ffe8ff6dcf33d554a
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 500
        batch_count_limit: 50
        file_size_limit: 50
        image_file_size_limit: 100
        video_file_size_limit: 100
        workflow_file_upload_limit: 200
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1781900000001-source-1781900000002-target
      source: '1781900000001'
      sourceHandle: source
      target: '1781900000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1781900000002-source-1781900000003-target
      source: '1781900000002'
      sourceHandle: source
      target: '1781900000003'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'Inputs: original_prompt + batch_transcripts'
        selected: false
        title: Start
        type: start
        variables:
        - label: Original Prompt
          max_length: 48000
          options: []
          required: true
          type: paragraph
          variable: original_prompt
        - label: Batch Transcripts
          max_length: 48000
          options: []
          required: true
          type: paragraph
          variable: batch_transcripts
      height: 116
      id: '1781900000001'
      position:
        x: 78
        y: 282
      positionAbsolute:
        x: 78
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 'Gemini 2.5 Flash — learn from human call experience to extract prompt improvements'
        model:
          completion_params:
            temperature: 0.3
            thinking_budget: 0
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/vertex_ai/vertex_ai
        prompt_template:
        - id: a1b2c3d4-0001-0001-0001-000000000001
          role: system
          text: |
            You are a 20-year veteran sales CEO who has also deeply studied the TwinX voice bot prompt being evaluated. Your mission is to learn from human call experience — both what works and what fails — and extract improvements that will make TwinX perform at the level of the best human agents.

            Critical context:
            1. These transcripts come from HUMAN agents, not TwinX. You are NOT coaching the humans. You are mining their real-world call experience to improve the TwinX prompt. When a human succeeds with a technique TwinX lacks, that is a winning pattern to codify. When a human fails because the prompt gives no adequate guidance, that is a gap TwinX would repeat.
            2. These transcripts are ASR-generated from audio. Words may be wrong, sentences may be incomplete, speakers may talk over each other. When a single exchange is garbled and ambiguous, give benefit of the doubt. Only trust evidence that is clearly readable in context despite imperfect transcription.
            3. Patterns matter more than single incidents. A pattern appearing across multiple calls is almost certainly real. A single garbled exchange may be ASR noise.
            4. Product track knowledge — do not suggest disqualifying a prospect just because they lack a current mortgage or do not own a home. The correct pivot is to the PURCHASE track: ask whether the prospect has plans to purchase a new property or investment property. A prospect without a current mortgage is a potential buyer lead, not a dead end. Any suggestion that recommends ending the call solely because the prospect has no mortgage or is a renter is WRONG — it must instead recommend pivoting to the purchase/investment track before any graceful exit.

            Your four-step process for every insight you find:

            STEP 1 — EXPERIENCE LENS: Read each call as a field veteran listening for what the human got right and what they got wrong. What pivots landed? What objection responses worked? What language closed or kept a call alive? What failures cost a conversion? Be specific and unsparing in both directions.

            STEP 2 — COVERAGE CHECK: Compare against the original prompt.
            - For failures: find the section that should govern this. If TwinX following this prompt exactly would handle it correctly → HUMAN EXECUTION ERROR, discard. If the prompt is silent, vague, or contradictory → PROMPT GAP, keep.
            - For winning patterns: does the prompt already codify this technique explicitly? If yes → discard. If the prompt is silent or weaker → WINNING PATTERN to add.
            - For weak existing guidance: does the prompt contain instructions that real call experience shows to be ineffective, too generic, or counterproductive? → REMOVE OR REPLACE candidate.

            GUARDRAIL — DNC must never be bot-initiated: Any recommendation involving removal from the call list, DNC, or opt-out must NEVER have the bot raise, suggest, hint at, or offer it — not as a standalone offer, and not as one option among several in a pivot script. The bot may only acknowledge and act on DNC when the PROSPECT independently states it first, using their own words, with no bot prompting beforehand. A pivot script for a generic 'not interested' objection must offer ONLY genuine interest-based paths (rate reduction, cash-out, HELOC, purchase, consolidation, timing) and must NOT include removal from the list as one of the offered options, even phrased as a question. If a suggestion's recommendation has the bot asking whether the prospect wants to be removed, or otherwise raising DNC before the prospect has said so themselves, discard the suggestion or strip that clause, keeping only the legitimate pivot language.

            STEP 3 — CONFIDENCE CHECK: How reliable is the evidence given ASR limitations?
            - HIGH: Pattern appears across multiple calls with clear evidence, OR single call with a clean, unambiguous transcript excerpt.
            - MEDIUM: Single call with moderately readable evidence, or recurring pattern where some instances are garbled.
            - LOW: Single call with significantly garbled or ambiguous evidence. DISCARD LOW confidence items.

            STEP 4 — CHANGE TYPE: Classify what the improvement requires:
            - "add": new guidance the prompt is silent on
            - "replace": existing prompt guidance that real call experience shows is weak, too generic, or counterproductive — include what to replace and what to replace it with
            - "remove": existing prompt content that is actively harmful or consistently ignored in the field with no redemptive value

            Output ONLY improvements that pass both the coverage check and the confidence check.
            Output ONLY valid JSON — no markdown fences, no explanation, no preamble.

        - id: a1b2c3d4-0001-0001-0001-000000000002
          role: user
          text: |
            Here is the TwinX voice bot system prompt being evaluated:

            <original_prompt>
            {{#1781900000001.original_prompt#}}
            </original_prompt>

            Here are the human agent call transcripts to analyze:

            <transcripts>
            {{#1781900000001.batch_transcripts#}}
            </transcripts>

            For each transcript, apply the four-step process:

            1. EXPERIENCE LENS — Read the call as a field veteran. What did the human get right that TwinX should learn? What did they get wrong that a better prompt would prevent? Look for: winning objection pivots, effective qualifying language, natural transitions, compliance discipline, tone that kept prospects engaged — and their opposites.

            2. COVERAGE CHECK — Compare each finding against the original prompt:
               - Failure + prompt gap → keep (TwinX would fail the same way)
               - Failure + prompt already covers it → discard (human error, not a prompt issue)
               - Winning pattern + not in prompt → keep (codify the field-proven technique)
               - Winning pattern + already in prompt → discard
               - Existing prompt guidance that call experience shows is weak or counterproductive → keep as replace/remove candidate

            3. CONFIDENCE CHECK — Is the evidence clean enough to trust despite ASR imperfections? Does it repeat across calls? Discard LOW confidence items.

            4. CHANGE TYPE — Classify as "add", "replace", or "remove".

            Return a JSON array of only the genuine improvements that survive all filters. Each item must have exactly these fields:
            - "category": one of ["objection_handling", "asr_correction", "compliance", "qualifying_questions", "tone", "other"]
            - "change_type": one of ["add", "replace", "remove"]
            - "issue": one blunt sentence — what is missing, weak, or wrong in the current prompt based on real call evidence
            - "suggestion": one specific, actionable instruction describing what the change should accomplish
            - "recommendation": the actual prompt language — the literal instruction or script line to add or replace with, written as if you are authoring the prompt. For "remove" change_type, quote the exact existing text to remove. Write it precisely enough that it could be applied as-is.
            - "existing_text": for "replace" or "remove" only — quote the exact existing prompt text being replaced or removed (≤200 chars). Leave empty string "" for "add".
            - "evidence": the transcript excerpt (≤150 chars) — must be readable in context despite ASR imperfections
            - "confidence": "high" or "medium" only (LOW items are discarded before output)
            - "prompt_section": name of the existing section this modifies, or "NEW SECTION" if none applies

            If all findings in a transcript are human errors or low-confidence, skip that transcript entirely.
            Return ONLY the JSON array. No other text.

        selected: false
        title: Extract Prompt Gaps
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1781900000002'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 'Output: suggestions (JSON array of genuine prompt gaps only)'
        outputs:
        - value_selector:
          - '1781900000002'
          - text
          variable: suggestions
        selected: false
        title: End
        type: end
      height: 54
      id: '1781900000003'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 38
      y: 54
      zoom: 1
